@import url(./Components/DogList/DogList.css);
@import url(./Components/DogList/DogDetails/DogDetailsPopup.css);
@import url(./Components/AddDogForm/AddDogForm.css);
@import url(./Components/ViewWalkers/ViewWalkers.css);
@import url(./Components/ViewWalkers/AssignDog.js/AssignDog.css);
body {
 margin: 0;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

code {
 font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
